<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meloverse</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <style>
        body{
            margin-bottom: 80px;
        }
    </style>
</head>
<body>
    {% if songs_available|length==0 %}
    <div>All songs have been added to {{album.album_name}} <br>
    <a href="/view_album/{{album.album_id}}">Go back</a>
    </div>
    {% else %}
    <form action="/add_to_album/{{album.album_id}}" method="POST">
        <div style="align-items:center; display:flex; justify-content:center"> <label for="album_name"> Change Album Name: </label><input type="text" name="album_name" id="album_name"></div>
        <table style="border: 1px solid ; margin:0 auto; width:80%; font-size:25px;" >
            <tr>
                <th style="border: 1px solid ; text-align:center"><h3>Add Songs to {{album.album_name}}</h3></th>
            </tr>
            {% for song in songs_available %}
            <tr>
              <td style="border: 1px solid">
              <div class="card">
               <div class="card-body">
                {{song.song_name}} 
                {% if song.album is none %} (Single) {% else %} (Album: {{song.from_album.album_name}}) {% endif %}
                {% if song.flag==True %}
                <i class="bi bi-explicit-fill"></i>
                {% endif %}
                <span style="position:absolute ;right:5em">
                <input type="checkbox" name="songs_to_add" value="{{ song.song_id }}"/>
                </span>
              </div>
             </div>
             </td>
            </tr>
            {% endfor %} 
        </table>
        <div style="font-size:20px; align-items:center; display:flex; justify-content:center" >    
        <input type="submit" value="Add">
        </div>
        </form> 
        <br>
        <div  style="align-items:center; display:flex; justify-content:center">
        <a href="/view_album/{{album.album_id}}" class="btn btn-primary">Go Back</a>
       </div>
       {% endif %}
        <nav class="navbar fixed-bottom bg-dark mb-2 h2" style= "padding: 10px ;bottom: 0; width: 100%;">
            <div class="container-fluid">
            <a href="/profile"><i class="bi bi-person-circle" style="color:white;font-size:35px"></i></a>
            <a href="/search"><i class="bi bi-search navbar-brand" style="color:white; font-size:35px"></i></a>
            <a href="/homepage/{{current_user.user_id}}" style="color:white; font-size:35px"><i class="bi bi-house"></i></a>
            {% if current_user.creator_id is not none %} 
            <a href="/creator_page/{{current_user.creator_id}}" style="color:white">Creator Mode<i class="bi bi-person-check"></i></a>
            {% else %}
            <a href="/creator_registration/{{current_user.user_id}}" style="color:white">Register as a creator<i class="bi bi-person"></i></a>
            {% endif %}
            <a href="/logout"><i class="bi bi-box-arrow-in-left" style="color:white; font-size:35px"></i></a>
            </div>
          </nav>   
</body>
</html>