<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meloverse</title>
</head>
<body>
    <div>
        <h2>Company Policies</h2>
            
            ## User Responsibility <br>
            
            - Users must adhere to community standards and guidelines. <br>
            - Users are encouraged to report any content violating terms of service or community guidelines. <br><br>
            
            ## Content Eligibility<br>
            
            Content flagged for review includes, but is not limited to, explicit/offensive material, copyright infringement, hate speech, and legal violations.<br><br>
            
            ## Flagging Process<br>
            
            - Admins have the authority to flag content, songs, lyrics.<br>
            - Flags can be submitted through the app's reporting feature with specified reasons.<br><br>
            
            ## Review Process<br>
            
            - Flagged content will be promptly reviewed by the admin team.<br>
            - Admins will follow a fair and unbiased evaluation process.<br><br>
            
            ## Actions Taken<br>
            
            - Upon review, content may be removed, edited, or deemed acceptable based on app guidelines.<br>
            - Repeated violations may result in warnings, suspensions, or account termination.<br><br>
            
            ## Creator Accountability<br>
            
            - Creators are responsible for the content they upload.<br>
            - Repeated violations may lead to account suspension or removal.<br><br>
            
            ## Privacy Protection <br>
            
            - The app prioritizes user privacy and sensitive information during the review process.<br><br>
            
            ## Continuous Improvement<br>
            
            - Policies will be regularly updated based on user feedback, industry standards, and legal requirements.<br><br>
            
            ## Communication<br>
            
            - Users will be informed of flagged content outcomes within a reasonable time frame. <br><br>
           <a href="/profile">Go Back</a>
    </div>
</body>
</html>